PROJECT_NAME=Financial System
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=financial_db

# Openssl rand -hex 32
SECRET_KEY=CHANGE_THIS_SECRET_KEY_IN_PRODUCTION
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
